<a href="https://colab.research.google.com/github/miro-ka/genemu-bot/blob/master/notebooks/exchange_hitbtc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quick peek into HITBTC API 

 - Part of [genemu-bot](https://github.com/miro-ka/genemu-bot)
 - [HitBTC Exchange](https://hitbtc.com/)
 - [hit-API](https://github.com/hitbtc-com/hitbtc-api)

In [17]:
import pandas as pd
import seaborn as sns

In [7]:
HITBTC_ROOT_URL = "https://api.hitbtc.com/api/2/"

## Public API

### Currencies

In [35]:
df_curr = pd.read_json(HITBTC_ROOT_URL + "public/currency")

In [36]:
df_curr.sample(3)

      id  fullName  ...  precisionPayout  precisionTransfer
376  HMQ   Humaniq  ...                8                  8
107  TIV       TIV  ...                5                  5
82   UGT  UG Token  ...                8                  8

[3 rows x 14 columns]

In [37]:
print("Total number of currencies:", len(df_curr))

Total number of currencies: 643

In [27]:
# crypto vs. ICO/fiat
df_curr.groupby(by="crypto").count()[['id']]

         id
crypto
False     3
True    640

In [39]:
df_curr[df_curr['crypto'] == False]

        id   fullName  ...  precisionPayout  precisionTransfer
21     WTT  Giga Watt  ...                8                  8
35     CAT        CAT  ...                8                  8
248  XDNCO      XDNCO  ...                8                  8

[3 rows x 14 columns]